

html,
body {
    height: 100%;
    background-color: #ccc;
}
body {
    color: #666;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
#remoteVideos video {
    height: 70%;
    border: 1px solid #999;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}
#localVideo {
    width: 100%;
    -webkit-box-shadow: 4px 4px 6px 0 #545454;
    box-shadow: 4px 4px 6px 0 #545454;
    border: 1px solid #999;
}
@media (max-width: 600px) {
  #localVideo {
    width: 30%;
  }
}
